.input{
    width: 6rem;
    height: 4rem;
    font-size: 3rem;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
}

.container{
    border: 2px solid white;
}

.input:focus{
    outline: none;
}

.buttonCheck{
    background-color: white;
    border: none;
    height: 2rem;
    width: 6rem;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}