.initialStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;;
    width: 100%;
    transform: translateX(-1000px);
}


.hiddencontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transform: translateX(-1100px);
    animation: menuHide 700ms ease-in;
    z-index: 20;
}

@keyframes menuHide {
    0%{
        transform: translateX(50%);
    }

    100%{
        transform: translateX(-1100px);
    }
}

.showcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;;
    width: 100%;
    animation: menuShow 700ms ease-in;
    transform: translateX(50%);
    z-index: 20;
}

@keyframes menuShow {
    0%{
        transform: translateX(-1000px);
    }

    100%{
        transform: translateX(50%);
    }
}


.buttons{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 25%;
}

.items{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
}