@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Sanchez&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main {
  height: 100vh;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
}

.main2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(135, 68, 20);
  text-align: center;
  justify-self: flex-start;
  height: 20%;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  letter-spacing: 0.4rem;
}

.formulario{
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.formulario > input {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 20%;
}


.input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.inputText {
  border-style: none;
  text-align: center;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  background-color: rgb(183, 182, 182);  
  color: black;
}

form > button {
  border-radius: 20px;
  background-color: rgb(236, 190, 144);
  width: 100px;
  transition: 0.5s;
}

form > button:hover{
  background-color: rgb(125, 63, 20);
  color: white;
  transition: 0.7s;
  
}

.formulario > button {
  background-color: chocolate;
  border-style: none;
  cursor: pointer;
  transform: translate(0, 1px);
}

.check {
  text-decoration: line-through;
}

.Tela {
  animation-name: telasuave;
  animation-duration: 2s;
}

@keyframes telasuave {
  from {opacity: 0%;}
  to {opacity: 100%;}
  
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  margin-top: 20px;
  height: 100px;
  width: 100%;
   background-color: rgb(135, 68, 20);  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


