.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 1;
}

.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.loginWithLines{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.line {
    height: 2px;
    width: 30%;
    background-color: white;
}

.forms{
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    z-index: 1;
}

.loading {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    z-index: 1;
    animation: spining 1000ms ease-in-out infinite;
}

@keyframes spining {
    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg
    }
}

.video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 0;
    object-fit: cover;
}