.gamePage{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.win{
    transition: 500ms;
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ajustcontainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.Header{
    display: flex;
    gap: 3rem;
    color: white;
}

.theNumber{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.inputAndButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.interactiveContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.statistics {
    display: flex;
    flex-direction: column;
    gap: 10px;
}