.cardContainer{
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.253);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.541);
}

.content{
    padding: 0.5rem;
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descrNtarget{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.values{
    display: flex;
    width: 100%;
    justify-content: space-between;
}





