.mov{
    height: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    overflow: auto;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
}