.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content{
    background-color: var(--spotColor);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
}