.containerAdd{
    display: flex;
    flex-direction: column;
        
}

.button{
    background-color: greenyellow;
    border: none;
    height: 20px;
    width: 110px;
    border-radius: 10px;
    transition: 500ms;
    font-size: 0.7rem;
    z-index: 5;
}

.button:hover{
    transition: 500ms;
    color: white;
    background-color: rgb(143, 212, 40);
    cursor: pointer;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.containerInputs > input{
    height: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 0.5rem;
    text-align: center;
    /* transform: translateY(-20px); */

}

.alimento{
    transition: 500ms;
    z-index: 3;
    animation: cascade2 1000ms ease-in-out;
}

.genero{
    z-index: 2;
    animation: cascade1 1000ms ease-in-out;
}

.calorias{
    z-index: 1;
    animation: cascade3 1000ms ease-in-out;}

@keyframes cascade1 {
    0%{
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes cascade2 {
    0%{
        transform: translateY(-26px);
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes cascade3 {
    0%{
        transform: translateY(-41px);
    }

    100% {
        transform: translateY(0)
    }
}



.submitButton{
    margin-top: 5px;
    font-size: 0.6rem;
    width: 90px;
    background-color: greenyellow;
    border: none;
    border-radius: 10px;
    transition: 500ms;
    font-size: 0.7rem;
    z-index: 0;
    animation: cascadeButton 2000ms ease-in-out
}

@keyframes cascadeButton {
    0%{
        transform: translateY(-60px)
    }

    100%{
        transform: translateY(0);
    }
}

.submitButton:enabled{
    box-shadow: 0 0 10px greenyellow;
    text-shadow: 0 0 1px black;
}
