@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;500;600&display=swap');


.container{
    background-color: black;
    color: white;

    border: 3px white solid;

    text-align: center;
    
    height: 100%;
    width: 80%;
    border-radius: 10px;
    flex-wrap: wrap;
    display: grid;
    justify-content: center;

   
}

@keyframes smooth {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


.description{
    font-family: 'Fira Sans';
    transition: 500ms;
    animation: smooth 1000ms ease-in;
}

.warningh3{
    font-family: 'Fira Sans';
    transition: 300ms;
    animation: smooth 1000ms ease-in
}


